In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [2]:
df = spark.read.json('sample_10e3.json')

In [3]:
df.show()
df.count()

+--------------------+--------+-----------+--------------+-------------+----------------+-----------+--------------------+--------------------+---------+--------+
|                 _id|ageRange|idplug_base|idplug_station|idunplug_base|idunplug_station|travel_time|     unplug_hourTime|       user_day_code|user_type|zip_code|
+--------------------+--------+-----------+--------------+-------------+----------------+-----------+--------------------+--------------------+---------+--------+
|{5cf83b752f3843a0...|       0|         21|            66|            8|              90|        219|{2019-06-01T00:00...|e4d55deb9ac172a8d...|        1|        |
|{5cf83b762f3843a0...|       4|         19|           136|           19|              71|        359|{2019-06-01T00:00...|8a0c4123e924a50a9...|        1|   28039|
|{5cf83b762f3843a0...|       4|         17|            38|            7|              39|        375|{2019-06-01T00:00...|a6a9c1f74a6849600...|        1|   28013|
|{5cf83b762f3843a0...|       5|          4|            90|           21|              66|        264|{2019-06-01T00:00...|5706c0bd494acc022...|        1|   28009|
|{5cf83b762f3843a0...|       4|          3|           166|           13|             152|        367|{2019-06-01T00:00...|eb1b6d32bd4add5d5...|        1|   28006|
|{5cf83b762f3843a0...|       5|         14|            53|            4|              55|        174|{2019-06-01T00:00...|c2905f6038aa9523d...|        1|   28907|
|{5cf83b762f3843a0...|       0|          2|           129|            6|             133|        308|{2019-06-01T00:00...|f94420744ea060ac4...|        1|        |
|{5cf83b762f3843a0...|       4|         21|           169|            3|             153|        462|{2019-06-01T00:00...|e75471af2ea032a32...|        1|   28003|
|{5cf83b762f3843a0...|       0|         24|           129|           14|              44|        482|{2019-06-01T00:00...|c0d73ee753773a3bf...|        1|        |
|{5cf83b762f3843a0...|       4|         11|           133|           21|              85|        480|{2019-06-01T00:00...|47ecd557f21ca7aee...|        1|   28004|
|{5cf83b762f3843a0...|       5|          2|            83|           18|              31|        546|{2019-06-01T00:00...|87ccc3f59b45ef261...|        1|   28007|
|{5cf83b762f3843a0...|       0|          7|            53|           15|              38|        519|{2019-06-01T00:00...|05bd8e0842cbfadb8...|        1|        |
|{5cf83b762f3843a0...|       4|         24|            13|           17|             118|        374|{2019-06-01T00:00...|812870450df33ac5c...|        1|   39316|
|{5cf83b762f3843a0...|       4|         13|            10|            9|              27|        188|{2019-06-01T00:00...|c828f824a86378bf0...|        1|   28012|
|{5cf83b762f3843a0...|       4|          2|            74|           20|              90|        133|{2019-06-01T00:00...|538fc94c0d298f7ee...|        1|   28045|
|{5cf83b762f3843a0...|       0|         17|            54|           21|             100|        514|{2019-06-01T00:00...|53a9f79ec4c6d60c2...|        1|        |
|{5cf83b762f3843a0...|       4|         12|            83|            5|              67|        517|{2019-06-01T00:00...|b27886fecd2db0f3c...|        1|   28008|
|{5cf83b762f3843a0...|       4|          5|            83|            3|              67|        525|{2019-06-01T00:00...|eee03ef92db2fe559...|        1|   28019|
|{5cf83b762f3843a0...|       0|          9|           163|            5|              63|        351|{2019-06-01T00:00...|b61ef9ebd0342c431...|        1|        |
|{5cf83b762f3843a0...|       0|         22|            84|            7|              42|        483|{2019-06-01T00:00...|01bf069d0732b2b01...|        1|        |
+--------------------+--------+-----------+--------------+-------------+----------------+-----------+--------------------+--------------------+---------+--------+
only showing top 20 rows

1000

In [4]:
df = df.drop('_id','unplug_hourTime','idplug_base','idunplug_base','track')
df.show()
# to fit df in page and see more clearly the results

+--------+--------------+----------------+-----------+--------------------+---------+--------+
|ageRange|idplug_station|idunplug_station|travel_time|       user_day_code|user_type|zip_code|
+--------+--------------+----------------+-----------+--------------------+---------+--------+
|       0|            66|              90|        219|e4d55deb9ac172a8d...|        1|        |
|       4|           136|              71|        359|8a0c4123e924a50a9...|        1|   28039|
|       4|            38|              39|        375|a6a9c1f74a6849600...|        1|   28013|
|       5|            90|              66|        264|5706c0bd494acc022...|        1|   28009|
|       4|           166|             152|        367|eb1b6d32bd4add5d5...|        1|   28006|
|       5|            53|              55|        174|c2905f6038aa9523d...|        1|   28907|
|       0|           129|             133|        308|f94420744ea060ac4...|        1|        |
|       4|           169|             153|        462|e75471af2ea032a32...|        1|   28003|
|       0|           129|              44|        482|c0d73ee753773a3bf...|        1|        |
|       4|           133|              85|        480|47ecd557f21ca7aee...|        1|   28004|
|       5|            83|              31|        546|87ccc3f59b45ef261...|        1|   28007|
|       0|            53|              38|        519|05bd8e0842cbfadb8...|        1|        |
|       4|            13|             118|        374|812870450df33ac5c...|        1|   39316|
|       4|            10|              27|        188|c828f824a86378bf0...|        1|   28012|
|       4|            74|              90|        133|538fc94c0d298f7ee...|        1|   28045|
|       0|            54|             100|        514|53a9f79ec4c6d60c2...|        1|        |
|       4|            83|              67|        517|b27886fecd2db0f3c...|        1|   28008|
|       4|            83|              67|        525|eee03ef92db2fe559...|        1|   28019|
|       0|           163|              63|        351|b61ef9ebd0342c431...|        1|        |
|       0|            84|              42|        483|01bf069d0732b2b01...|        1|        |
+--------+--------------+----------------+-----------+--------------------+---------+--------+
only showing top 20 rows

In [5]:
#1 Contar cada tipo
df.groupBy('user_type').count().show()

+---------+-----+
|user_type|count|
+---------+-----+
|        1|  954|
|        3|   36|
|        2|   10|
+---------+-----+

In [6]:
#2 Filtro
df1 = df.filter(df["user_type"]==1)
df1.show()
df1.count()

+--------+--------------+----------------+-----------+--------------------+---------+--------+
|ageRange|idplug_station|idunplug_station|travel_time|       user_day_code|user_type|zip_code|
+--------+--------------+----------------+-----------+--------------------+---------+--------+
|       0|            66|              90|        219|e4d55deb9ac172a8d...|        1|        |
|       4|           136|              71|        359|8a0c4123e924a50a9...|        1|   28039|
|       4|            38|              39|        375|a6a9c1f74a6849600...|        1|   28013|
|       5|            90|              66|        264|5706c0bd494acc022...|        1|   28009|
|       4|           166|             152|        367|eb1b6d32bd4add5d5...|        1|   28006|
|       5|            53|              55|        174|c2905f6038aa9523d...|        1|   28907|
|       0|           129|             133|        308|f94420744ea060ac4...|        1|        |
|       4|           169|             153|        462|e75471af2ea032a32...|        1|   28003|
|       0|           129|              44|        482|c0d73ee753773a3bf...|        1|        |
|       4|           133|              85|        480|47ecd557f21ca7aee...|        1|   28004|
|       5|            83|              31|        546|87ccc3f59b45ef261...|        1|   28007|
|       0|            53|              38|        519|05bd8e0842cbfadb8...|        1|        |
|       4|            13|             118|        374|812870450df33ac5c...|        1|   39316|
|       4|            10|              27|        188|c828f824a86378bf0...|        1|   28012|
|       4|            74|              90|        133|538fc94c0d298f7ee...|        1|   28045|
|       0|            54|             100|        514|53a9f79ec4c6d60c2...|        1|        |
|       4|            83|              67|        517|b27886fecd2db0f3c...|        1|   28008|
|       4|            83|              67|        525|eee03ef92db2fe559...|        1|   28019|
|       0|           163|              63|        351|b61ef9ebd0342c431...|        1|        |
|       0|            84|              42|        483|01bf069d0732b2b01...|        1|        |
+--------+--------------+----------------+-----------+--------------------+---------+--------+
only showing top 20 rows

954

In [7]:
#3
df_trips = df1.groupBy('user_day_code').count()
df_trips.show()

+--------------------+-----+
|       user_day_code|count|
+--------------------+-----+
|09a6027e878367958...|    1|
|44a2f14b1b0530470...|    1|
|a1e5829f6bb2030d7...|    2|
|1a5224b9187592e7a...|    1|
|e713d58a5633e3354...|    1|
|95f83469127a3b4fd...|    1|
|f94420744ea060ac4...|    1|
|a2938ade459e8f830...|    1|
|2a8c003ec0b5d0cbe...|    3|
|7377dfcef4046126e...|    1|
|d40a266a8227c759f...|    1|
|0e1c57792c4f51051...|    1|
|cbced4da6d7141cc1...|    1|
|996052e3c5a91448b...|    1|
|6ee268a3bc57d4e33...|    1|
|d47774dc35c7defb4...|    2|
|86d5a12d6e7fc0d11...|    1|
|7a52c74b4801603ec...|    1|
|8a0925817d7e25a58...|    1|
|395d9209eb1cd5f4a...|    1|
+--------------------+-----+
only showing top 20 rows

In [8]:
df_trips.filter(df_trips['count']==1).show()

+--------------------+-----+
|       user_day_code|count|
+--------------------+-----+
|09a6027e878367958...|    1|
|44a2f14b1b0530470...|    1|
|1a5224b9187592e7a...|    1|
|e713d58a5633e3354...|    1|
|95f83469127a3b4fd...|    1|
|f94420744ea060ac4...|    1|
|a2938ade459e8f830...|    1|
|7377dfcef4046126e...|    1|
|d40a266a8227c759f...|    1|
|0e1c57792c4f51051...|    1|
|cbced4da6d7141cc1...|    1|
|996052e3c5a91448b...|    1|
|6ee268a3bc57d4e33...|    1|
|86d5a12d6e7fc0d11...|    1|
|7a52c74b4801603ec...|    1|
|8a0925817d7e25a58...|    1|
|395d9209eb1cd5f4a...|    1|
|086b097e208485359...|    1|
|4e15ef46aad6d14ce...|    1|
|4649ff0d3a8cebfeb...|    1|
+--------------------+-----+
only showing top 20 rows

In [32]:
#lo mismo en una línea
from pyspark.sql.functions import col
df1.groupBy('user_day_code').count().alias('trips').filter(col('trips.count')==1).show()

+--------------------+-----+
|       user_day_code|count|
+--------------------+-----+
|09a6027e878367958...|    1|
|44a2f14b1b0530470...|    1|
|1a5224b9187592e7a...|    1|
|e713d58a5633e3354...|    1|
|95f83469127a3b4fd...|    1|
|f94420744ea060ac4...|    1|
|a2938ade459e8f830...|    1|
|7377dfcef4046126e...|    1|
|d40a266a8227c759f...|    1|
|0e1c57792c4f51051...|    1|
|cbced4da6d7141cc1...|    1|
|996052e3c5a91448b...|    1|
|6ee268a3bc57d4e33...|    1|
|86d5a12d6e7fc0d11...|    1|
|7a52c74b4801603ec...|    1|
|8a0925817d7e25a58...|    1|
|395d9209eb1cd5f4a...|    1|
|086b097e208485359...|    1|
|4e15ef46aad6d14ce...|    1|
|4649ff0d3a8cebfeb...|    1|
+--------------------+-----+
only showing top 20 rows

In [10]:
#4. Histograma de viajes
df1.groupBy('user_day_code').count().groupBy('count').count().show()

+-----+-----+
|count|count|
+-----+-----+
|    1|  873|
|    3|    1|
|    2|   39|
+-----+-----+

In [11]:
df1.groupBy('user_day_code').count().withColumnRenamed('count','trip_number').\
    groupBy('trip_number').count().show()

+-----------+-----+
|trip_number|count|
+-----------+-----+
|          1|  873|
|          3|    1|
|          2|   39|
+-----------+-----+

In [12]:
#5. Return trip. 

#En las celdas anteriores, vemos que al agrupar perdemos la información.  
#se echa de menos el poder trabajar con los datos agregados.

In [13]:
from pyspark.sql.functions import collect_list, struct
dfg = df.groupBy('user_day_code').agg(collect_list(struct('idunplug_station','idplug_station')))
dfg.show()

+--------------------+------------------------------------------------------+
|       user_day_code|collect_list(struct(idunplug_station, idplug_station))|
+--------------------+------------------------------------------------------+
|003a61da2de58f96b...|                                             [{9, 16}]|
|004b59e8e915fea89...|                                          [{171, 106}]|
|00c762bdd28e33ad6...|                                            [{19, 90}]|
|00e51402a96f66595...|                                            [{26, 79}]|
|01232b2ca4316d5a8...|                                           [{12, 174}]|
|015d7f04c3112bc80...|                                           [{174, 31}]|
|016def195d7b6e1f9...|                                           [{156, 63}]|
|0171f8de1acd7d8c7...|                                            [{62, 82}]|
|017cc6f6baa1d23a0...|                                            [{88, 54}]|
|019909d2442ab142c...|                                            [{90, 82}]|
|01afe1971a4a4fa91...|                                            [{76, 81}]|
|01bf069d0732b2b01...|                                            [{42, 84}]|
|01ce39793f7b766e3...|                                          [{169, 149}]|
|0247f880037914475...|                                            [{84, 57}]|
|02cb8492c91c06764...|                                           [{169, 26}]|
|02f00ebaf4701793d...|                                            [{90, 82}]|
|0382218c6e10772dc...|                                   [{45, 71}, {71, 8}]|
|039ae0fa68bc44bf0...|                                          [{111, 155}]|
|03d3c2c2df2d08e0f...|                                           [{135, 51}]|
|0444abbe992567898...|                                            [{38, 52}]|
+--------------------+------------------------------------------------------+
only showing top 20 rows

In [14]:
dfg = df.groupBy('user_day_code').\
    agg(collect_list(struct('idunplug_station','idplug_station')).alias('result'))
dfg.show()

+--------------------+-------------------+
|       user_day_code|             result|
+--------------------+-------------------+
|003a61da2de58f96b...|          [{9, 16}]|
|004b59e8e915fea89...|       [{171, 106}]|
|00c762bdd28e33ad6...|         [{19, 90}]|
|00e51402a96f66595...|         [{26, 79}]|
|01232b2ca4316d5a8...|        [{12, 174}]|
|015d7f04c3112bc80...|        [{174, 31}]|
|016def195d7b6e1f9...|        [{156, 63}]|
|0171f8de1acd7d8c7...|         [{62, 82}]|
|017cc6f6baa1d23a0...|         [{88, 54}]|
|019909d2442ab142c...|         [{90, 82}]|
|01afe1971a4a4fa91...|         [{76, 81}]|
|01bf069d0732b2b01...|         [{42, 84}]|
|01ce39793f7b766e3...|       [{169, 149}]|
|0247f880037914475...|         [{84, 57}]|
|02cb8492c91c06764...|        [{169, 26}]|
|02f00ebaf4701793d...|         [{90, 82}]|
|0382218c6e10772dc...|[{45, 71}, {71, 8}]|
|039ae0fa68bc44bf0...|       [{111, 155}]|
|03d3c2c2df2d08e0f...|        [{135, 51}]|
|0444abbe992567898...|         [{38, 52}]|
+--------------------+-------------------+
only showing top 20 rows

In [15]:
#aplicar la función de abajo...para calcular la longitud... ver si podemos hacer más cosas, como ver 
# que es un round trip

In [19]:
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType

trips_len = udf(lambda x: len(x), IntegerType())
dfg.select(trips_len('user_day_code')).show()

+-----------------------+
|<lambda>(user_day_code)|
+-----------------------+
|                     64|
|                     64|
|                     64|
|                     64|
|                     64|
|                     64|
|                     64|
|                     64|
|                     64|
|                     64|
|                     64|
|                     64|
|                     64|
|                     64|
|                     64|
|                     64|
|                     64|
|                     64|
|                     64|
|                     64|
+-----------------------+
only showing top 20 rows

In [13]:
dfg2 = dfg.withColumn('len_udc', trips_len(dfg['user_day_code']))
dfg2.show()

+--------------------+-------------------+-------+
|       user_day_code|             result|len_udc|
+--------------------+-------------------+-------+
|003a61da2de58f96b...|          [{9, 16}]|     64|
|004b59e8e915fea89...|       [{171, 106}]|     64|
|00c762bdd28e33ad6...|         [{19, 90}]|     64|
|00e51402a96f66595...|         [{26, 79}]|     64|
|01232b2ca4316d5a8...|        [{12, 174}]|     64|
|015d7f04c3112bc80...|        [{174, 31}]|     64|
|016def195d7b6e1f9...|        [{156, 63}]|     64|
|0171f8de1acd7d8c7...|         [{62, 82}]|     64|
|017cc6f6baa1d23a0...|         [{88, 54}]|     64|
|019909d2442ab142c...|         [{90, 82}]|     64|
|01afe1971a4a4fa91...|         [{76, 81}]|     64|
|01bf069d0732b2b01...|         [{42, 84}]|     64|
|01ce39793f7b766e3...|       [{169, 149}]|     64|
|0247f880037914475...|         [{84, 57}]|     64|
|02cb8492c91c06764...|        [{169, 26}]|     64|
|02f00ebaf4701793d...|         [{90, 82}]|     64|
|0382218c6e10772dc...|[{45, 71}, {71, 8}]|     64|
|039ae0fa68bc44bf0...|       [{111, 155}]|     64|
|03d3c2c2df2d08e0f...|        [{135, 51}]|     64|
|0444abbe992567898...|         [{38, 52}]|     64|
+--------------------+-------------------+-------+
only showing top 20 rows

In [34]:
from pyspark.sql.types import BooleanType

def round_trip(x):
    if len(x) != 2:
        return False
    else:
        return x[0][1] == x[1][0] and x[0][0] == x[1][1]

round_trip_udf = udf(lambda x: round_trip(x), BooleanType())

dfg.withColumn('round_trip', round_trip_udf(dfg['result'])).alias('dfgrt').filter(col('dfgrt.round_trip')).show()

+--------------------+--------------------+----------+
|       user_day_code|              result|round_trip|
+--------------------+--------------------+----------+
|13b9c8b5ffecc4d2a...|[{125, 6}, {6, 125}]|      true|
|6fb07b5e128af9a6b...|[{57, 19}, {19, 57}]|      true|
|a1e5829f6bb2030d7...|[{129, 57}, {57, ...|      true|
|b10c476e28ef97b3f...|[{96, 114}, {114,...|      true|
|bcef457f1234cc899...|[{96, 114}, {114,...|      true|
|f7f4cd3b9b0f8c51b...|[{62, 169}, {169,...|      true|
+--------------------+--------------------+----------+